<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Interviewbot</title>
  </head>
  <body>

    <header>
      <h1>INTERVIEW CHATBOT</h1>
      <div class="side-header">
        <a href="/newchat"><button class="side-header1">New Session</button></a>
      </div>
    </header>
     
    <main>
      <div class="chat-header">
        <img src="/static/Images/Screenshot 2024-12-09 144657.png" class="circle-image" >
        <h2>Welcome to Interview</h2>
        <div class="chat-subheader">
          <h2>Let's Start</h2>
        </div>
      </div>

      <div class="chat-container"> 
                
        <div class="chat-input-container">
          <div class="chat-input">
            <form id="myForm" action="/chat" method="post" enctype="multipart/form-data">
              
              <input type="text" name="question" class="chat-input"  autofocus  placeholder="Type a message..." >
              
            </form>
          </div>
          <div class="chat-actions">
            
            <button form="myForm" class="chat-button tooltip chat-button-tooltip" type="submit">
              <span aria-hidden="true">➤</span>
              <span class="tooltiptext">Send message</span>
            </button>
          </div>
        </div>   
      </div>
    </main>
    <script src="../static/js/script.js"></script>
  
  </body>
</html>